
<div layout="column" flex ng-cloak>
    <div class="topview content-wrapper md-padding topview" layout="column" class="md-whiteframe-3dp" layout-sm="column" flex layout-align="start center">
        <img style="max-height:400px; height:350px; width:300px; margin-top:20px;" src="assets/images/logo.png">
        <div class="title" layout="column"  >
            <h1 class="mainTitle">Borderline</h1>
            <div class="copy"><p>An alpeadria Quiz Game</p>
            </div>
        </div>
        <md-button id="playButton" ng-click="Play()" flex="33" class="md-raised md-primary">Play</md-button>
    </div>
</div>

<!-- <div layout="column" flex style="background-color:black;">

</div> -->
